<!DOCTYPE html>
<html xmlns:th = "http://www.thymleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container">
<h1 th:text="${titulo}" class="text-primary"></h1>

<form th:action="@{/form}" th:object="${cliente}" method = "post">

<table>

<tr>
<td>Nombre</td>
<td> <input type="text" th:field="*{nombre}" /> </td>
<td> <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span> </td>
</tr>


<tr>
<td>Apellido</td>
<td> <input type="text" th:field="*{apellido}" /> </td>

<td> <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span> </td>
</tr>


<tr>
<td>Email</td>
<td> <input type="email" th:field="*{email}" /> </td>
<td> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span> </td>
</tr>

<tr>
<td>Fecha</td>
<td> <input type="text" th:field="*{createAt}" /> </td>
<td> <span th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></span> </td>
</tr>

<tr>
<td> <input type="submit" value = "Crear" />  </td>
</tr>

</table>

<input type="hidden" th:field="*{id}" />
</form>

</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>